#mail-form {
  padding-left: 6em;
}

#mail-form label {
  text-align: right;
  display: inline-block;
  width: 6em;
  margin-left: -6em;
}

#mail-form input,
#mail-form textarea {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
  width: 48em;
}
